@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

$scissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$paperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$rockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$lizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);
$radialGradient: hsl(214,47%, 23%), hsl(237, 49%, 15%);
$sure-color: #f4f4f4;

$font-text: "Barlow Semi Condensed",
sans-serif;

@mixin textAttribute($text-typo, $text-size, $text-color, $text-weight) {
  font-family: $text-typo;
  font-size: $text-size;
  color: $text-color;
  font-weight: $text-weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: $font-text;

}

main {
  background: linear-gradient(25deg, $radialGradient);
  height: 100vh;
  padding: 1px 15px;
}

h1,
h2,
h3 {
  @include textAttribute($font-text, 4.5rem, $darkText, 300);
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  @include textAttribute($font-text, 1.6rem, $darkText, 400);
}

img {
  width: 100%;
  height: 100%;
}
