.rules {
    background-color: $sure-color;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    justify-items: center;
    align-items: center;


    &__title{
        text-align: center;
        font-size: 3.2rem;
        font-weight: bold;
    }
    &__img {
        width: 300px;
        height: 300px;
    }
}