.score {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    border-color: $headerOutline;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;

    &__figure {
        width: 50px;
    }
    
    &__points {

        display: grid;
        justify-items: center;
        background: $sure-color;
        padding: 10px 20px;
        border-radius: 10px;
        

        &--title {
            font-size: 1rem;
            font-weight: 700;
            color: $headerOutline;
        }

        &--point {
            font-weight: 700;
            font-size: 3rem;
            color: $headerOutline;
        }
    }
}